{% extends "base.html" %}

{% block title %}{% if object %}Editar Detalle compra material{% else %}Nuevo Detalle compra material{% endif %}{% endblock %}

{% block content %}
<h1>{% if object %}Editar Detalle compra material{% else %}Nuevo Detalle compra material{% endif %}</h1>
<div class="actions">
	<a class="btn" href="{% url 'detallecompramaterial_list' %}">Volver</a>
</div>
<form method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<button class="btn btn-primary" type="submit">Guardar</button>
</form>
{% endblock %}
