{% extends "base.html" %}

{% block title %}{% if object %}Editar Agenda de mantenimiento{% else %}Nueva Agenda de mantenimiento{% endif %}{% endblock %}

{% block content %}
<h1>{% if object %}Editar Agenda de mantenimiento{% else %}Nueva Agenda de mantenimiento{% endif %}</h1>
<div class="actions">
	<a class="btn" href="{% url 'agendamantenimiento_list' %}">Volver</a>
</div>
<form method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<button class="btn btn-primary" type="submit">Guardar</button>
</form>
{% endblock %}
