{% extends "base.html" %}

{% block title %}{% if object %}Editar Compra de material{% else %}Nueva Compra de material{% endif %}{% endblock %}

{% block content %}
<h1>{% if object %}Editar Compra de material{% else %}Nueva Compra de material{% endif %}</h1>
<div class="actions">
	<a class="btn" href="{% url 'compramaterial_list' %}">Volver</a>
</div>
<form method="post">
	{% csrf_token %}
	{{ form.non_field_errors }}
	{% for field in form %}
		{% if field.is_hidden %}
			{{ field }}
		{% else %}
			<p>
				{{ field.label_tag }}
				{{ field }}
				{% if field.help_text %}
					<span class="helptext">{{ field.help_text }}</span>
				{% endif %}
				{% for error in field.errors %}
					<span class="error">{{ error }}</span>
				{% endfor %}
			</p>
		{% endif %}
	{% endfor %}
	<button class="btn btn-primary" type="submit">Guardar</button>
</form>
{% endblock %}
